*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.music-play{
    background: #f4babafc;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #f51a1a;
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.4);
}
.song-img{
    width: 230px;
    height: 250px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.49);
}
.music-play h1{
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin-top: 20px;
}
.music-play p{
    margin-top: 6px;
    font-size: 14px;
    color: #333;
}
#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #f51a1a;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #f51a1a;;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
    cursor: pointer;
}
.controls div:nth-child(2){
    transform: scale(1.5);
    background: #f51a1a;
    color: #fff;
}